Django>=5.2
djangorestframework
django-cors-headers
requests
python-dotenv
dj-database-url
whitenoise
psycopg2-binary
gunicorn
daphne
channels
celery
redis
django-ratelimit
drf-spectacular
google-generativeai
google-cloud-texttospeech
google-cloud-storage
google-cloud-firestore
firebase-admin
langgraph
langchain-google-genai
langchain-core
youtube-transcript-api
newspaper4k
pydantic
openai
elevenlabs
django-storages
boto3
cloudinary
django-cloudinary-storage
PyMuPDF
