Django==5.2.8
djangorestframework==3.16.1
django-cors-headers==4.9.0
requests==2.32.5
python-dotenv==1.2.1
dj-database-url==3.0.1
whitenoise==6.11.0
psycopg2-binary==2.9.11
gunicorn==23.0.0
daphne==4.2.1
channels==4.3.2
celery==5.5.3
redis==7.1.0
django-ratelimit==4.1.0
drf-spectacular==0.29.0
google-generativeai==0.8.5
google-cloud-texttospeech==2.33.0
google-cloud-storage==3.4.1
google-cloud-firestore==2.21.0
firebase-admin==7.1.0
langgraph==1.0.1
langchain-google-genai==2.0.10
langchain-core==0.3.80
youtube-transcript-api==1.2.3
newspaper4k==0.9.4.1
pydantic==2.12.4
openai==2.9.0
elevenlabs==2.24.0
PyMuPDF==1.26.6
python-docx==1.2.0
python-pptx==1.0.2
jsonschema==4.25.1
tldextract==5.3.0
trafilatura==2.0.0
nltk==3.9.2
pyyaml==6.0.3
pytz==2025.2
cryptography==46.0.3
pyOpenSSL==25.3.0
websockets==15.0.1
sqlparse==0.5.3
beautifulsoup4==4.14.3
tenacity==9.1.2
anyio==4.11.0
packaging==25.0
numpy==2.3.5
pillow==12.0.0
tqdm==4.67.1
inflection==0.5.1
click==8.3.1
colorama==0.4.6
lxml==6.0.2
lxml_html_clean==0.4.3
langdetect==1.0.9
dateparser==1.2.2
google-api-python-client==2.187.0
google-auth-oauthlib==1.2.3
google-auth-httplib2==0.2.1
google-auth==2.41.1
google-api-core==2.25.2
django-storages==1.14.6
boto3==1.42.13
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
